# Core functionality - changes here should be rare!
/src/app.py                   @colinharrington02
/src/backend/database.py      @colinharrington02
/src/backend/routers/auth.py  @colinharrington02

# The frontend will need refactored soon to be more object oriented.
/src/static/   @colinharrington02
